div.popover {
	position: absolute;

	&[data-position='bottom'] {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%) translateY(100%);

		@keyframes fadeIn {
			from {
				opacity: 0;
				transform: translateX(-50%) translateY(150%);
			}
			to {
				opacity: 1;
				transform: translateX(-50%) translateY(100%);
			}
		}

		&[data-visible='false'] {
			display: none;
		}

		&[data-visible='true'] {
			display: block;
			animation: fadeIn 0.5s;
		}
	}
}
