@import '../../styles/breakpoints.scss';

main > div.content-container {
	max-width: var(--laptop-s);
	width: 100%;
	margin-inline: auto;
	margin-top: var(--spacing-large);
	min-height: calc(100% - var(--spacing-large));
	background-color: white;
	border-top-left-radius: var(--rounded-large);
	border-top-right-radius: var(--rounded-large);
	padding: var(--spacing-large);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-large);
	overflow: hidden;

	@apply shadow-lg;

	@media (max-width: $laptop-s) {
		margin-top: 0;
		border-radius: 0;
		min-height: 100%;
	}
}
