div.tabs {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	border-bottom: 1px solid var(--color-neutral-200);
	text-wrap: nowrap;
	flex-wrap: nowrap;

	& > div.tabs__indicator {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 3px;
		background-color: var(--color-brand-red);
		transition:
			left 0.3s ease,
			width 0.3s ease;
	}

	& > a.tabs__tab-item {
		padding-block: var(--spacing-xsmall);
		padding-inline: var(--spacing-small);
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
}
