form.quick-searchbar {
	position: relative;
	width: fit-content;

	&[data-full] {
		width: 100%;
	}

	& > .quick-searchbar__popover__wrapper {
		width: 100%;

		& > div.popover {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-height: 50vh;
			overflow: hidden auto;
		}
	}
}
