@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		'navbar'
		'main';
	background-color: var(--color-slate-50);
	width: 100vw;
	height: 100vh;

	& > main {
		grid-area: main;
		overflow-y: auto;
		overflow-x: hidden;
	}

	& > nav.navbar {
		grid-area: navbar;
	}
}

* {
	font-size: var(--font-size-normal);
	font-weight: var(--font-weight-normal);
}

small {
	font-size: var(--font-size-small);
}

p {
	font-size: var(--font-size-normal);
}

h2 {
	font-size: var(--font-size-large);
}

h1 {
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-xlarge);
}

.weglot-translate {
	// placeholder for autocomplete
}

.weglot-ignore {
	// placeholder for autocomplete
}

@import './variables.scss';
@import './breakpoints.scss';
@import './scrollbar.scss';
