:root {
	--spacing-xsmall: 0.4rem;
	--spacing-small: 0.8rem;
	--spacing-medium: 1.6rem;
	--spacing-large: 2.4rem;
	--spacing-xlarge: 3.2rem;

	--color-brand-red: #b91c1c;
	--color-anthracite: #303030;
}
