:root {
	--spacing-xsmall: 0.4rem;
	--spacing-small: 0.8rem;
	--spacing-medium: 1.6rem;
	--spacing-large: 2.4rem;
	--spacing-xlarge: 3.2rem;

	--color-brand-red: #b91c1c;
	--color-anthracite: #303030;
	--color-slate-50: #f8fafc;
	--color-neutral-200: #e5e5e5;
	--color-neutral-500: #737373;
	--color-backdrop: rgba(0, 0, 0, 0.3);

	--font-weight-thin: 400;
	--font-weight-normal: 500;
	--font-weight-bold: 700;

	--font-size-small: 0.75rem;
	--font-size-normal: 1rem;
	--font-size-medium: 1.25rem;
	--font-size-large: 1.5rem;
	--font-size-xlarge: 1.75rem;
	--font-size-xxlarge: 2rem;

	--mobile-s: 320px;
	--mobile-m: 375px;
	--mobile-l: 425px;
	--tablet: 768px;
	--tablet-l: 1024px;
	--laptop-s: 1280px;
	--laptop-m: 1366px;
	--laptop-l: 1440px;
	--desktop: 1920px;
	--desktop-l: 2560px;

	--rounded-xsmall: 0.4rem;
	--rounded-small: 0.8rem;
	--rounded-medium: 1.2rem;
	--rounded-large: 1.6rem;
	--rounded-xlarge: 2.4rem;
	--rounded-circular: 50%;
}
