:root {
	--spacing-xsmall: 0.4rem;
	--spacing-small: 0.8rem;
	--spacing-medium: 1.6rem;
	--spacing-large: 2.4rem;
	--spacing-xlarge: 3.2rem;

	--color-brand-red: #b91c1c;
	--color-anthracite: #303030;
	--color-slate-50: #f8fafc;
	--color-neutral-200: #e5e5e5;

	--mobile-s: 320px;
	--mobile-m: 375px;
	--mobile-l: 425px;
	--tablet: 768px;
	--tablet-l: 1024px;
	--laptop-s: 1280px;
	--laptop-m: 1366px;
	--laptop-l: 1440px;
	--desktop: 1920px;
	--desktop-l: 2560px;

	--rounded-xsmall: 0.4rem;
	--rounded-small: 0.8rem;
	--rounded-medium: 1.2rem;
	--rounded-large: 1.6rem;
	--rounded-xlarge: 2.4rem;
	--rounded-circular: 50%;
}
