section.game__saves-section {
	margin-inline: -2.4rem;

	--min-container-height: 28rem;

	& > div.game__saves-error-container,
	& > div.game__saves-loading-container {
		min-height: var(--min-container-height);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	& > ul.game__saves-list {
		display: flex;
		flex-direction: column;
		min-height: var(--min-container-height);

		& > li.item {
			display: grid;
			grid-template-columns: auto 1fr auto;
			gap: var(--spacing-small);
			padding: var(--spacing-small);
			border-bottom: 1px solid var(--color-neutral-200);
			align-items: center;

			& > img {
				width: 170px;
				height: 96px;
				object-fit: cover;
			}

			& > div.info {
				height: 100%;

				& > p.desc {
					font-weight: var(--font-weight-thin);
					color: var(--color-neutral-500);
				}
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}
}
