a.quick-search__results-card {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--spacing-small);
	width: 100%;
	padding-inline: var(--spacing-small);
	padding-block: var(--spacing-xsmall);
	border-bottom: 1px solid var(--color-neutral-200);

	&:last-child {
		border-bottom: none;
	}

	&:hover {
		background-color: var(--color-neutral-200);
	}

	& > img {
		width: 128px;
		height: auto;
		aspect-ratio: 16 / 9;
		object-fit: cover;
	}

	& > div.desc {
		display: flex;
		flex-direction: column;

		& > p.date {
			font-weight: var(--font-weight-thin);
			color: var(--color-neutral-500);
		}
	}
}
