section.game__actions-section {
	display: flex;
	justify-content: space-between;
	gap: var(--spacing-medium);

	& > div.left {
		display: flex;
		justify-self: flex-start;
		gap: var(--spacing-medium);
	}

	& > div.right {
		display: flex;
		justify-content: flex-end;
		gap: var(--spacing-medium);
	}
}
