@import '../../styles/breakpoints.scss';

nav.navbar {
	position: relative;
	@apply shadow-lg;

	& > div.navbar__container {
		background-color: white;
		border-bottom: 1px solid var(--color-neutral-200);

		& > div.content {
			display: flex;
			margin-inline: auto;
			max-width: var(--laptop-s);
			justify-content: space-between;
			gap: var(--spacing-medium);
			padding-inline: var(--spacing-medium);

			& > .brand-logo {
				display: flex;
				align-items: center;
				background-color: var(--color-brand-red);
				color: white;
				padding: var(--spacing-small);

				& > svg {
					height: 2.4rem;
					width: 2.4rem;
				}
			}

			& > .quick-searchbar {
				margin-block: auto;
			}

			& > button.mobile-quick-searchbar__button {
				margin-block: auto;
				margin-left: auto;
			}

			& > div.nav-items {
				display: flex;

				@media (max-width: $tablet) {
					display: none;
				}

				& > div.user-nav-item__popover__wrapper {
					height: 100%;
					width: 100%;

					& > .nav-item {
						height: 100%;
					}

					& > div.popover {
						top: calc(100% - var(--spacing-small));
						right: 0;
						min-width: 100%;
						width: fit-content;

						& > .links {
							display: flex;
							flex-direction: column;
							border-bottom: 1px solid var(--color-neutral-200);
						}

						.link {
							padding-inline: var(--spacing-small);
							padding-block: var(--spacing-xsmall);
							text-align: right;
							width: 100%;

							&:hover,
							&:active {
								background-color: var(--color-neutral-200);
							}
						}
					}
				}

				.nav-item {
					display: flex;
					align-items: center;
					gap: var(--spacing-xsmall);
					padding-inline: var(--spacing-small);
					transition: color 300 ease-in-out;
					text-wrap: nowrap;
					font-weight: var(--font-weight-bold);
					@apply text-lg;

					&:hover {
						background-color: var(--color-neutral-200);
					}

					&[data-active],
					&:active {
						background-color: var(--color-anthracite);
						color: white;
					}
				}
			}

			& > button.toggle-btn {
				display: none;
				justify-content: center;
				margin-block: auto;
				height: 2.4rem;
				width: 2.4rem;

				@media (max-width: $tablet) {
					display: block;
				}
			}
		}
	}

	& > div.navbar__mobile-container {
		position: absolute;
		transform: translateY(-100%);
		transition: ease-in-out transform 0.3s;
		background-color: white;
		padding-block: var(--spacing-small);
		z-index: -10;
		width: 100%;
		@apply shadow-lg;

		@media (min-width: $tablet) {
			display: none;
		}

		&:not([data-collapsed]) {
			transform: translateY(0);
		}

		& > div.nav-items {
			& > .nav-item {
				display: flex;
				align-items: center;
				gap: var(--spacing-xsmall);
				padding-inline: var(--spacing-small);
				padding-block: var(--spacing-xsmall);

				&:hover {
					background-color: var(--color-neutral-200);
				}

				&:active,
				&[data-active] {
					background-color: var(--color-anthracite);
					color: white;
				}
			}

			& > button.nav-item {
				width: 100%;
			}
		}
	}
}

div.navbar__backdrop {
	&[data-visible] {
		opacity: 0;
		pointer-events: none;
	}

	@media (max-width: $tablet) {
		&[data-visible] {
			opacity: 1;
			pointer-events: auto;
		}
	}
}

div.user-nav-item__modal {
	display: flex;
	flex-direction: column;
	padding-inline: 0 !important;
	padding-block: var(--spacing-medium) !important;

	& > .links {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid var(--color-neutral-200);
	}

	.link {
		padding-inline: var(--spacing-medium);
		padding-block: var(--spacing-small);
		text-align: left;
		width: 100%;

		&:hover,
		&:active {
			background-color: var(--color-neutral-200);
		}
	}
}
